{% extends 'base.html' %}
{% load static %}

{% block additionalCSS %}
<link rel="stylesheet" href="{% static 'css/article.css' %}">
{% endblock additionalCSS %}

{% block content %}
<section id="contact" class="contact" style="margin-top: 100px;">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Contribute to the Wiki</h2>
            <p>Write an Article</p>
        </div>

        <div class="mt-lg-0 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <form action="{% url 'create' %}" method="POST" role="form" class="php-email-form">
              {% csrf_token %}
              <div class="form-group mt-3">
                <label for="name">Heading</label>
                <input type="text" class="form-control" name="heading" id="heading" placeholder="Heading" required>
              </div>
              <div class="form-group mt-3">
                <label for="name">Subheading</label>
                <input type="text" class="form-control" name="subheading" id="subheading" placeholder="Subheading">
              </div>
              <div class="form-group mt-3">
                <label for="name">Article Content</label>
                <textarea class="form-control" name="content" rows="10" placeholder="Write your relationship thoughts here..." required>{{ form.as_p }}</textarea>
              </div>
              <div class="text-center"><button type="submit">Create</button></div>
            </form>
        </div>
    </div>
</section>
{% endblock %}