{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Dating Advice Straight From the Masters</h1>
          <h2>Spice up your love life with our strategies</h2>
          <div>
            {% if logged_in %}
            <a href="{% url 'all_articles' %}" class="btn-get-started scrollto">Begin Reading</a>
            {% else %}
            <a href="{% url 'login' %}" class="btn-get-started scrollto">Get Started</a>
            {% endif %}
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="{% static 'img/hearts.svg' %}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq section-bg" style="background-color: white;">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>F.A.Q</h2>
          <p>Frequently Asked Questions</p>
        </div>

        <ul class="faq-list" data-aos="fade-up" data-aos-delay="100">

          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">My boyfriend/girlfriend broke up with me. How do I live?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                Realize that your life isn't over, even though it probably feels like it. What did you learn from the relationship? What can you do better for the next relationship to make it even more successful for the both of you? Remember it is OKAY if the relationship doesn't work- it doesn't have to be anyone's fault.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">How do I stop myself from being nervous on the first date? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
                Take a deep breath. Remember that this date is not a life-or-death situation- especially when it's a first date. Keep the basics in mind. The whole point is to be yourself, and see if you click with the other person. The first date is specifically for the two of you to get to know each other and enjoy each other's company. Nothing else!
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Why is she ghosting me? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
                First of all, just remember that this has happened to 99% of us. Most of the time, it isn't even personal, but here are some common reasons why: She's sensing you want more than her, and doens't want to deal with that. She likes someone else more, and doesn't want to lead you on. But most of the time, it's simply because they are too afraid to maturely communicate. Don't let it stress you out. 
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">What are the best date ideas?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
              <p>
                There are two different kinds of dates: group dates and single dates. For group dates, go camping, go to a karaoke place, even a game night would be a blast. For single dates, you can go to waterfall hiking, ice skating, restaraunt hopping, and or even a simple move night.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">When should I get married?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq6" class="collapse" data-bs-parent=".faq-list">
              <p>
                Don't be discouraged by all the people around you that seem to be getting their life together, getting engaged, married, etc. Every person is different, and so is every relationship. Make choices that are right for yourself and your partner, and don't let others' input impact you too much. 
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section><!-- End F.A.Q Section -->
  </main>

{% endblock content %}
